# Configuração dos Bancos de Dados locais para desenvolvimento
DATABASE_WRITE_URL="mysql://root:mysql@localhost:3306/aula-db"
DATABASE_READ_1_URL="mysql://root:mysql@localhost:3307/aula-db"
DATABASE_READ_2_URL="mysql://root:mysql@localhost:3308/aula-db"

# Variável para ativar/desativar a replicação manual dos dados (mude para false quando for usar GCP/Cloud)
SIMULATE_REPLICATION="true"

# Nome do grupo (utilizado no campo criado_por das tabelas)
GROUP_NAME="Grupo09"

# Porta para a API REST
PORT=3000
