# Configuração dos Bancos de Dados locais para desenvolvimento
DATABASE_WRITE_URL="mysql://usuario:senha@host:porta/nome_banco"
DATABASE_READ_1_URL="mysql://usuario:senha@host:porta/nome_banco"
DATABASE_READ_2_URL="mysql://usuario:senha@host:porta/nome_banco"

# Nome do grupo (utilizado no campo criado_por das tabelas)
GROUP_NAME="Nome_Do_Grupo"

# Porta para a API REST
PORT=3000
