# Dependências
node_modules/

# Variáveis de ambiente (Segurança)
.env

# Logs do Node/NPM
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
